language: python
sudo: false
install:
  - pip install tox
script:
  - tox -r
matrix:
    include:
        - python: 3.6
          env: TOXENV=style
        - python: 3.6
          env: TOXENV=coverage
        - python: 3.6
          env: TOXENV=py36
        - python: 3.7
          env: TOXENV=py37
          dist: xenial
          sudo: true

after_success:
  - codecov


